.square {
  width: 50
  height: 25
}
h1 {
  color: black
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#yellow {
  background-color: yellow;
}
